<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>POST Request from Slack Demo</title>
    </head>
    <body>
        <form action = "/Trackz/", method = "POST">
        {% csrf_token %}
            <input type = "text" name = "username">
            <input type = "text" name = "command" value = "/login">
            <input type = "text" name = "team_id" value = "t001">
            <input type = "submit" value = "submit">
        </form>

    </body>
</html>